:root {
    --primary-color: #FFFAEC; /* Blue */
    --secondary-color: #3D3D3D; /* Gray */
    --accent-color-green: #578E7E;
    --accent-color-beige: #F5ECD5;
}

.main-content{
    width: 100%;
}


.filter-section{
    
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

input{
    width: 100%;
    
    color: var(--secondary-color);
    margin: 10px 10px 20px 20px;
    padding: 10px;
    height: 40px; 
    
    border-radius: 0;
    outline: none;
}

.geo-select{
    color: var(--secondary-color);
    height: 40px;
    /*border: none;*/
    padding: 10px;
}



/* GENRE STACK */
.genre-stack{
    width: 100%;
}

.heading{
    font-size: 1.35rem;
    padding: 10px 0;
    margin: 10px 0;
    
    
}