* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #FFFAEC; /* Blue */
    --secondary-color: #3D3D3D; /* Gray */
    --accent-color-green: #578E7E;
    --accent-color-beige: #F5ECD5;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: "IBM Plex Mono SemiBold", monospace;

    margin: 10px 10px;
    padding: 10px 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar {
    border: 1px solid var(--secondary-color);
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 1.1rem;
    text-wrap: nowrap;
    margin-bottom: 20px;
    background-color: var(--primary-color);
    

}
.navbar a,p {
    border: 1px solid var(--secondary-color);
}

.nav-items {
    padding: 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow: hidden;
}

.nav-items::before {
    display: flex;
    align-items: center;
    justify-content: center;
    content: "";
    text-align: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: transform .2s ease-in-out;
}

#link-home::before {
    content: "HOME";
}

#link-uncover::before {
    content: "UNCOVER";
}

#link-edged::before {
    content: "EDGED";
}

#link-contact-us::before {
    content: "CONTACT-US";
}

.nav-items:hover::before {
    
    transform: translateY(-100%) scale(1);
}
